
{% extends 'blog/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    my homepage
{% endblock title %}

{% block content %}

<div class="allcontainer">
    <main>
        
        <section  class="trending-posts">
            <h2 class="heading">Trending Posts</h2>
            <div class="posts">
                {% for post in trending_posts %}
                <a href="{% url 'detail' post.slug %}" class="post">
                    <img src="{{post.image.url}}"  alt="{{post.title}}">
                    <p class="title" >{{post.title}}</p>
                </a>
                {% endfor %}
            </div>
        </section>
        
    </main>
</div>

{% endblock content %}


